.containerSugestao {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputLabel {
  margin-top: 3rem;
  z-index: 1;
}

.inputLabel label {
  font:
    600 1.2rem Roboto,
    Arial,
    sans-serif;
}

.inputLabel input {
  border: 1px solid rgba(0, 0, 0, 0.3);
  outline: none;
  padding: 0.4rem 0.3rem;
  border-radius: 0.3rem;
}

.inputLabel input:focus {
  border: 1px solid var(--lightgreen);
}

.baloonImg {
  width: 250px;
  height: 250px;
  position: relative;
  left: -350px;
  top: 190px;
}

.textAreaAndFrame {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  max-width: 420px;
  margin-top: -75px;
}

.textAreaFrame {
  width: 100%;
  grid-column: 1;
  grid-row: 1;
  pointer-events: none;
}

.textAreaAndFrame textarea {
  grid-column: 1;
  grid-row: 1;
  align-self: center;
  border: none;
  resize: none;
  outline: none;
  height: 180px;
  width: 100%;
  padding: 1rem;
  background: rgba(250, 250, 250, 0.1);
}

.textAreaAndFrame textarea::placeholder {
  text-align: center;
  font:
    500 2.2rem "Special Elite",
    Arial,
    sans-serif;
  color: black;
  padding-top: 1.125rem;
  line-height: 1.3;
  padding-top: 2rem;
}

.paragraphDescription {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.313rem;
  font:
    500 0.925rem "Roboto",
    Arial,
    sans-serif;
  text-align: center;
}

@media (min-width: 75rem) {
  .containerSugestao {
    margin-top: -250px !important;
  }
}

.paragraphDescription {
  position: relative;
  top: -80px;
}

@media screen and (min-width: 48.063rem) and (max-width: 75rem) {
  .baloonImg {
    width: 160px;
    height: 160px;
    position: relative;
    left: -310px;
    top: 190px;
  }

  .containerSugestao {
    margin-top: -100px !important;
  }
}

/* até 460px */
@media (min-width: 20rem) and (max-width: 48rem) {
  .inputLabel {
    padding: 0 0.625rem;
  }

  .textAreaAndFrame {
    margin-top: -80px;
    padding: 0 0.625rem;
  }

  .textAreaAndFrame textarea::placeholder {
    font-size: 1.8rem;
  }

  .baloonImg {
    width: 140px;
    height: 140px;
    align-self: center;
    left: 0;
    top: 0;
  }
}

/* até 375px */
@media (max-width: 23.438rem) {
  .form {
    margin-top: -20px;
  }

  .textAreaAndFrame textarea {
    height: 140px;
  }

  .textAreaAndFrame textarea {
    padding: 1.2rem;
  }

  .textAreaAndFrame textarea::placeholder {
    padding-top: 1.25rem;
  }

  .paragraphDescription {
    padding-bottom: 10rem;
  }
}

@media (max-width: 20rem) {
  .form {
    margin-top: -30px;
  }

  .inputLabel input {
    margin-bottom: 0.313rem;
  }

  .textAreaAndFrame textarea {
    height: 135px;
  }

  .paragraphDescription {
    top: 0;
  }
}
