.containerSugestao {
  display: flex;
  justify-self: center;
  height: 100vh;
  margin-top: 5rem;
}

.baloonImg {
  width: 350px;
  height: 350px;
  position: fixed;
  left: 20rem;
  top: 8rem;
}

.form {
  position: relative;
  height: 40%;
}

.form .inputLabel {
  position: absolute;
  top: 5.5rem;
}

.inputLabel label {
  font: 600 1.2rem "Roboto", Arial, sans-serif;
}

.inputLabel input {
  padding: 0.4rem 0.3rem;
  margin-left: 0.3rem;
}

.form textarea {
  position: absolute;
  top: 10.938rem;
  left: 0.5rem;
  width: 97%;
  height: 54%;
  border: none;
  resize: none;
  box-sizing: border-box;
  padding: 0.625rem;
  overflow: hidden;
}

.form textarea:focus {
  outline: none;
  border: none;
}

.form textarea::placeholder {
  font: 500 3rem/1.3 "Special Elite", cursive;
  text-align: center;
  color: var(--black);
  padding: 35px;
}

.sobreposicao1 {
  position: absolute;
  background: var(--white);
  width: 97%;
  height: 5%;
  top: 373px;
  left: 8px;
  z-index: -1;
}

.sobreposicao2 {
  position: absolute;
  background: var(--white);
  width: 97%;
  height: 5%;
  top: 10.188rem;
  left: 0.5rem;
  z-index: -1;
}

.textareaImg {
  width: 550px;
  height: 550px;
}

@media (max-width: 90rem) {
  .containerSugestao {
    margin-top: -4rem;
  }

  .baloonImg {
    width: 250px;
    height: 250px;
    position: fixed;
    left: 8rem;
    top: 8rem;
  }

  .form textarea {
    height: 77%;
  }

  .sobreposicao1 {
    height: 7%;
  }
}

@media (max-width: 80rem) {
  .baloonImg {
    width: 300px;
    height: 300px;
    position: fixed;
    left: 3rem;
    top: 8rem;
  }

  .containerSugestao {
    margin-top: 2rem;
  }

  .form textarea {
    height: 58%;
  }

  .sobreposicao1 {
    height: 7%;
  }
}

@media (max-width: 64rem) {
  .containerSugestao {
    margin-top: 9rem;
    margin-left: 7rem;
  }

  .baloonImg {
    width: 140px;
    height: 140px;
    top: 18rem;
    left: 1rem;
  }

  .form textarea {
    height: 35%;
    top: 9.375rem;
  }

  .form textarea::placeholder {
    font-size: 2.5rem;
    padding: 1.875rem;
  }

  .sobreposicao1 {
    height: 5%;
    top: 8.25rem;
  }

  .sobreposicao2 {
    height: 6%;
    top: 18.25rem;
  }

  .textareaImg {
    width: 450px;
    height: 450px;
  }
}
