.containerBorderLeft {
  width: 150px;
  height: 100vh;
  border: 1px solid var(--black);
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  padding-top: 12rem;
}

.containerBorderLeft::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
}

.containerBorderLeftMobile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.75rem;
  margin-top: 1.75rem;
}

:global(.route-rotina-mao) .containerBorderLeft,
:global(.route-rotina-cranio) .containerBorderLeft,
:global(.route-rotina-abdome) .containerBorderLeft,
:global(.route-rotina-torax) .containerBorderLeft {
  padding-top: 13rem;
}

/* até 1199px */
@media (max-width: 74.938rem) {
  .containerBorderLeft {
    width: 120px;
  }
}
