.containerBorderLeft {
  width: 8.5%;
  height: 100vh;
  border: 1px solid var(--black);
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 13rem;
  z-index: -1;
  pointer-events: auto;
}

:global(.route-rotina-mao) .containerBorderLeft,
:global(.route-rotina-cranio) .containerBorderLeft,
:global(.route-rotina-abdome) .containerBorderLeft,
:global(.route-rotina-torax) .containerBorderLeft {
  padding-top: 15rem;
}

@media (max-width: 90rem) {
  .containerBorderLeft {
    width: 12%;
    padding-top: 10rem;
  }

  :global(.route-rotina-mao) .containerBorderLeft,
  :global(.route-rotina-cranio) .containerBorderLeft,
  :global(.route-rotina-abdome) .containerBorderLeft,
  :global(.route-rotina-torax) .containerBorderLeft {
    padding-top: 10rem;
  }
}

@media (max-width: 80rem) {
  .containerBorderLeft {
    width: 12%;
    padding-top: 13rem;
  }

  :global(.route-rotina-mao) .containerBorderLeft,
  :global(.route-rotina-cranio) .containerBorderLeft,
  :global(.route-rotina-abdome) .containerBorderLeft,
  :global(.route-rotina-torax) .containerBorderLeft {
    padding-top: 14rem;
  }
}

@media (max-width: 64rem) {
  .containerBorderLeft {
    width: 17%;
    padding-top: 8rem;
  }

  :global(.route-rotina-mao) .containerBorderLeft,
  :global(.route-rotina-cranio) .containerBorderLeft,
  :global(.route-rotina-abdome) .containerBorderLeft,
  :global(.route-rotina-torax) .containerBorderLeft {
    padding-top: 14rem;
  }
}
