.ContainerMobileMenu {
  width: 30%;
  height: 60%;
  border-radius: 0.313rem;
  background: url("./assets/rad_background-removebg.png") center no-repeat;
  background-color: var(--white);
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left-style: solid;
  border-left-width: 5px;
  border-left-color: var(--lightgreen);
  padding: 0.313rem;
  margin-top: 0.313rem;
  animation: showUp 0.5s forwards;
}

@keyframes showUp {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(20px);
  }
}
