.containerDropMenu {
  position: absolute;
  top: 0;
  width: 470px;
  min-height: 100%;
}

.containerDropMenu {
  border-radius: 0.313rem;
  background: url("../../assets/rad_background-removebg.png") center no-repeat;
  background-color: var(--white);
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left-width: 5px;
  border-left-color: var(--lightgreen);
  padding: 0.625rem;
  animation: showUp 0.5s forwards;
}

@keyframes showUp {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(20px);
  }
}

/* de 515px até 1024px */
@media screen and (min-width: 32.188rem) and (max-width: 64rem) {
  .containerDropMenu {
    top: 0.625rem;
    left: -5rem;
  }
}


/* até 424px */
@media screen and (max-width: 32.188rem) {
  .containerDropMenu {
    left: -1rem;
    width: 350px;
  }
} 

/* até 380px */
@media screen and (max-width: 23.75rem) {
  .containerDropMenu {
    left: 0;
    width: 310px;
  }
}
