.parentContainer {
  position: relative;
}

.containerImgRoutine {
  position: absolute;
  top: 3rem;
  left: 42rem;
}

.containerImgRoutine img {
  width: 95% !important;
  height: 550px;
}

.informativeParagraph {
  position: absolute;
  right: 4.75rem;
  top: -5.5rem;
}

.numberingRoutines {
  position: absolute;
  right: 29rem;
  margin-top: -3rem;
  z-index: -1;
}

.numberingRoutines img {
  width: 130px;
  height: 130px;
}

.positionPuppet {
  position: absolute;
  top: 34rem;
  left: 12rem;
}

.containerProperties {
  position: relative;
  left: 11.75rem;
}

.containerPropertiesMobile {
  position: relative;
}

.characteristics {
  font: 700 1.25rem "Special Elite", sans-serif;
  letter-spacing: 0.8px;
}

.listCharacteristics {
  margin-top: 0.938rem;
  max-width: 55ch;
}

.listCharacteristics li {
  margin-top: 0.938rem;
  font: 400 0.975rem/1.6 "Roboto", sans-serif;
  letter-spacing: 0.6px;
}

.listCharacteristics .description {
  font: 700 1.1rem "Roboto", sans-serif;
}

.imgMenuMob {
  position: absolute;
  left: 290px;
  top: -3px;
  cursor: pointer;
}

@media (max-width: 90rem) {
  .containerImgRoutine {
    top: 0.625rem;
    left: 30rem;
  }

  .containerImgRoutine img {
    height: 400px;
  }

  .videoRoutine {
    width: 25%;
    height: 75%;
    top: 3.438rem;
  }

  .positionPuppet {
    top: 20rem;
    left: 11rem;
  }

  .informativeParagraph {
    top: -8rem;
    right: 3.75rem;
  }

  .numberingRoutines {
    right: 21.25rem;
    margin-top: -7.75rem;
  }

  .characteristics {
    font-size: 0.875rem;
  }

  .listCharacteristics .description {
    font-size: 0.975rem;
  }

  .listCharacteristics li {
    font-size: 0.875rem;
  }
}

@media (max-width: 80rem) {
  .containerImgRoutine {
    top: 1.875rem;
    left: 23rem;
  }

  .containerImgRoutine img {
    width: 80% !important;
    height: 550px;
  }

  .videoRoutine {
    width: 27% !important;
    height: 600px !important;
    top: 7rem !important;
  }

  .positionPuppet {
    top: 32rem;
    left: 10rem;
  }

  .informativeParagraph {
    top: -4rem;
    right: 2rem;
  }

  .numberingRoutines {
    right: 21rem;
    margin-top: -2rem;
  }
}

@media (max-width: 64rem) {
  .containerImgRoutine {
    top: 6rem;
    left: 0;
  }

  .containerImgRoutine img {
    width: 60% !important;
    height: 600px;
  }

  .videoRoutine {
    width: 40% !important;
    height: 65% !important;
    right: 1.875rem !important;
    top: 10rem !important;
  }

  .containerProperties {
    left: 0.625rem;
    margin-top: 2rem;
  }

  .positionPuppet {
    top: 47rem;
    left: 19rem;
  }

  .informativeParagraph {
    top: 1.5rem;
    right: 2rem;
  }

  .numberingRoutines {
    right: 17.75rem;
    margin-top: 2rem;
  }

  .numberingRoutines img {
    width: 100px !important;
    height: 100px !important;
  }
}
