.footer {
  height: 11%;
  background: url("../assets/barra-horizontal.png") center no-repeat;
  background-size: cover;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 10;
}

.imgNext {
  height: 65%;
  width: 4%;
  position: absolute;
  right: 0.938rem;
  top: 1.25rem;
  border-radius: 50%;
  z-index: 1;
}

.imgPrev {
  height: 65%;
  width: 4%;
  position: absolute;
  left: 0.938rem;
  top: 1.25rem;
  border-radius: 50%;
  z-index: 1;
}

.buttonSugestoes {
  position: absolute;
  right: 1.75rem;
  top: 1.25rem;
  padding: 1.125rem 3rem;
  background: var(--palegreen);
  border-radius: 0.625rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
}

.buttonSugestoes:hover {
  background: var(--limegreen);
  color: var(--white);
  box-shadow: 0 0 0 0;
}

@media (max-width: 80rem) {
  .imgNext {
    height: 55%;
    top: 1.5rem;
  }

  .imgPrev {
    height: 55%;
    top: 1.5rem;
  }
}
