.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: url("../assets/barra-horizontal.png") center no-repeat;
  background-size: cover;
  width: 100vw;
  position: fixed;
  bottom: 0;
  z-index: 999;
  padding: 0 1rem 0 1rem;
  height: 75px;
}

.footerHome {
  display: grid;
  align-items: center;
  background: url("../assets/barra-horizontal.png") center no-repeat;
  background-size: cover;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 999;
  padding: 0 1rem 0 1rem;
  height: 75px;
}

.footerHome .imgNext {
  justify-self: end;
}

.buttonSugestoes {
  position: absolute;
  right: 1.75rem;
  padding: 0.725rem 3rem;
  background: var(--palegreen);
  border-radius: 0.625rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
}

.buttonSugestoes:hover {
  background: var(--limegreen);
  color: var(--white);
  box-shadow: 0 0 0 0;
}

.imgNext,
.imgPrev {
  height: 50px;
  width: 50px;
}

@media (max-width: 90rem) {
  .buttonSugestoes {
    padding: 0.5rem 2.5rem;
    top: 1rem;
  }
}

@media (max-width: 64rem) {
  .buttonSugestoes {
    padding: 0.5rem 2.5rem;
    top: 1.25rem;
  }

  .imgNext,
  .imgPrev {
    height: 40px;
    width: 40px;
  }
}

@media (max-width: 48rem) {
  .buttonSugestoes {
    padding: 0.313rem 1rem;
  }
}
