.header {
  display: flex;
  align-items: center;
  gap: 1.875rem;
}

.title {
  margin-top: 1.5rem;
  position: relative;
}

.title::before {
  content: "";
  width: 25%;
  height: 6%;
  background: var(--lightgreen);
  position: absolute;
  right: 4.75rem;
  bottom: 0.313rem;
  border-radius: 0.25rem;
  opacity: 0.5;
}

.title::after {
  content: "";
  height: 60px;
  width: 60px;
  display: inline-block;
  margin-left: 0.938rem;
  background: url("../assets/ico-play-60px.png") no-repeat;
}

.header a {
  outline: none;
}

.headerSugestoes {
  display: flex;
  justify-content: space-between;
  padding: 0 1.875rem 0 1.875rem;
}

.titleSugestoes {
  margin-top: 3.75rem;
}

.titleSugestoes::after {
  content: none;
}

.titleSugestoes:before {
  right: 0.625rem;
  bottom: 1.75rem;
}

@media (max-width: 64rem) {
  .header {
    gap: 0;
  }

  .header .logo {
    width: 75%;
    height: auto;
  }

  .headerSugestoes .logo {
    width: 75%;
  }

  .title {
    margin-top: 2rem;
  }

  .titleSugestoes {
    font-size: 3rem;
    margin-top: 2.25rem;
  }

  .title::before {
    right: 0.313rem;
  }

  .title::after {
    position: absolute;
    top: -1rem;
    margin-left: 0;
    background: url("../assets/ico-play.png") no-repeat;
  }
}
