.header {
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;
  z-index: 999;
  position: relative;
}

.headerHome {
  width: 90px;
  height: 90px;
  z-index: 999;
}

.title {
  font:
    500 4rem "Special Elite",
    cursive;
  color: var(--darkSlateGray);
  margin-top: 1.5rem;
  justify-self: start;
  position: relative;
  max-width: max-content;
}

.title::before {
  content: "";
  width: 100%;
  height: 3px;
  background: var(--lightgreen);
  position: absolute;
  left: 0;
  bottom: 0.625rem;
  border-radius: 0.25rem;
  opacity: 0.5;
}

.title::after {
  content: "";
  position: absolute;
  height: 60px;
  width: 60px;
  display: inline-block;
  margin-left: 0.938rem;
  background: url("../assets/ico-play.png") no-repeat;
}

.header a {
  outline: none;
}

.headerSugestoes {
  display: flex;
  justify-content: space-between;
  padding: 0 1.875rem 0 1.875rem;
}

.titleSugestoes {
  margin-top: 3.75rem;
}

.titleSugestoes::after {
  content: none;
}

.titleSugestoes:before {
  right: 0.625rem;
  bottom: 1.75rem;
}

@media (min-width: 75rem) {
  .header {
    gap: 1.875rem;
  }
}

@media (max-width: 74.938rem) {
  .header .logo,
  .headerSugestoes .logo {
    width: 75%;
    height: auto;
  }
}

@media (max-width: 64rem) {
  .title {
    margin-top: 2rem;
  }

  .titleSugestoes {
    font-size: 3rem;
    margin-top: 2.25rem;
  }
}

/* 425px até 768px */
@media screen and (min-width: 26.563rem) and (max-width: 48rem) {
  .title {
    font-size: 2rem;
  }
}

@media screen and (min-width: 23.438rem) and (max-width: 64rem) {
  .header {
    grid-template-columns: 100px 1fr !important;
    align-items: start;
    padding: 0 0.625rem 0 0.625rem;
  }

  .title {
    font-size: 1.75rem;
    justify-self: end;
  }

  .title::after {
    background: none;
  }

  .title::before {
    top: 1.5rem;
  }
}
