.initialContainerImg {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 48rem) and (max-width: 64rem) {
  .initialContainerImg {
    margin-top: -5.5rem;
  }
}

@media (max-width: 64rem) {
  .initialContainerImg {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 23.438rem) and (max-width: 34.938rem) {
  .initialContainerImg {
    gap: 3rem;
  }
}

@media (max-width: 23.438rem) {
  .initialContainerImg {
    padding-bottom: 1.25rem;
  }
}
