.videoBankPosition {
  width: 50%;
  height: 60%;
  top: 15rem;
  right: 20rem;
}

.informativeParagraph {
  position: absolute;
  right: 20rem;
  top: 13rem;
}

@media (max-width: 90rem) {
  .videoBankPosition {
    width: 23%;
    height: 75%;
    right: 3.75rem;
    top: 7rem !important;
  }

  .informativeParagraph {
    right: 2rem;
    top: 5rem;
    font-size: 0.675rem;
  }
}

@media (max-width: 80rem) {
  .videoBankPosition {
    width: 30%;
    height: 70%;
    top: 10rem !important;
  }

  .informativeParagraph {
    right: 1rem;
    top: 8rem;
    font-size: 0.75rem;
  }
}
