.videoBankPosition {
  width: 95%;
  height: 70vh;
}

/* @media (max-width: 90rem) {
  .videoBankPosition {
    width: 23%;
    height: 75%;
  }

  .informativeParagraph {
    right: 2rem;
    top: 5rem;
    font-size: 0.675rem;
  }
} */

/* @media (max-width: 80rem) {
  .videoBankPosition {
    width: 30%;
    height: 70%;
  }

  .informativeParagraph {
    font-size: 0.75rem;
  }
} */

/* @media (max-width: 64rem) {
  .videoBankPosition {
    width: 45%;
    height: 75%;
  }
}
 */

@media (min-width: 48.063rem) {
  .containerMediaParagrAndMenu {
    display: grid;
    align-items: center;
  }

  .boxMediaParagraph {
    margin-right: 2rem;
    justify-self: end;
  }

  .boxMediaParagraph p {
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 48.063rem) and (max-width: 64rem) {
  .boxMediaParagraph {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 23.438rem) and (max-width: 48rem) {
  .containerMediaParagrAndMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .boxMediaParagraph {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    gap: 1.25rem;
  }

  .videoBankPosition {
    width: 100%;
    height: 60vh;
  }

  .informativeParagraph {
    font-size: 0.625rem;
  }
}
