.videoBankPosition {
  width: 95%;
  height: 70vh;
}

@media (min-width: 48.063rem) {
  /* .containerMediaParagrAndMenu {
    display: grid;
    align-items: center;
  } */

  .boxMediaParagraph {
    margin-right: 2rem;
    justify-self: end;
  }

  .boxMediaParagraph p {
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 48.063rem) and (max-width: 64rem) {
  .boxMediaParagraph {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 20rem) and (max-width: 48rem) {
  .containerMediaParagrAndMenu {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
  }

  .boxMediaParagraph {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    gap: 1.25rem;
    padding: 0 1rem;
    box-sizing: border-box;
  }

  .videoBankPosition {
    width: 90%;
    max-width: 100%;
    height: 60vh;
  }

  .informativeParagraph {
    font-size: 0.625rem;
  }
}

@media (max-width: 20rem) {
  .informativeParagraph {
    font-size: 0.525rem;
  }
}
