@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

:root {
  --lightgreen: #bedc96;
  --palegreen: #62dd57;
  --limegreen: #47b43d;
  --black: #222;
  --darkSlateGray: #282828;
  --white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  overflow: hidden;
  z-index: 0;
  background: url("./assets/rad_background-removebg.png") center no-repeat;
  background-size: 75% 130%;
  min-height: 100vh;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

a:focus,
button:focus {
  outline: 2px solid #005fcc;
  outline-offset: 2px;
}

.spinner {
  width: 24px;
  height: 24px;
  border: 5px solid blue;
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.containerError {
  margin: 1rem 0 0 1.5rem;
  position: relative;
}

.containerError h1 {
  font: bold 3rem "Roboto", Arial, sans-serif;
  letter-spacing: 0.5px;
}

.containerError h1::before {
  width: 1.5rem;
  height: 1.5rem;
  content: "";
  display: inline-block;
  position: absolute;
  top: 1.6rem;
  left: -0.313rem;
  border-radius: 0.313rem;
  background: var(--palegreen);
  z-index: -1;
}

.containerError p {
  font: normal 1rem "Roboto", Arial, sans-serif;
}

@media (max-width: 80rem) {
  body {
    background-size: contain;
  }
}

@media (max-width: 64rem) {
  body {
    background-size: contain;
  }
}
