.bg-radiologia {
  background: url("../../img/rad_background-removebg.png") center no-repeat;
  background-size: 75% 130%;
  min-height: 100vh;
}

.container-media-video {
  width: 370px;
  height: 70vh;
  border: 3px solid var(--black);
  border-radius: 0.625rem;
  background: var(--white);
  box-shadow: 12px 14px 0 0 var(--black);
  margin-right: 2rem;
}

.media-video {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

/* 500px até 1024px */
@media screen and (min-width: 31.25rem) and (max-width: 64rem) {
  .container-media-video {
    width: 80%;
    height: 32vh;
    margin-right: 0;
  }
}

/* de 375px até 500px */
@media screen and (min-width: 20rem) and (max-width: 31.25rem) {
  .container-media-video {
    width: 80%;
    height: 40vh;
    margin-right: 0;
  }
}
